In [79]:
pip install sqlalchemy_utils

Collecting sqlalchemy_utils
  Downloading SQLAlchemy_Utils-0.37.9-py3-none-any.whl (100 kB)
Requirement already satisfied: SQLAlchemy>=1.0 in c:\users\pmw233\anaconda3\lib\site-packages (from sqlalchemy_utils) (1.4.7)
Requirement already satisfied: six in c:\users\pmw233\anaconda3\lib\site-packages (from sqlalchemy_utils) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pmw233\anaconda3\lib\site-packages (from SQLAlchemy>=1.0->sqlalchemy_utils) (1.0.0)
Installing collected packages: sqlalchemy-utils
Successfully installed sqlalchemy-utils-0.37.9
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pprint
import psycopg2

In [2]:
# Import CSV files
csvfile = "DataFiles/SAEXP1.csv"
csvfile2 = "DataFiles/csvData.csv"
us_expenditures = pd.read_csv(csvfile)
state_abbr = pd.read_csv(csvfile2)

In [3]:
us_expenditures.columns

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019'],
      dtype='object')

In [6]:
#  keep only columns needed
us_expenditures_df = us_expenditures[['GeoFIPS', 'GeoName','Description','1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019']]
us_expenditures_df.head()

,GeoFIPS,GeoName,Description,1997,1998,1999,2000,2001,2002,2003,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"""00000""",United States,Personal consumption expenditures,5534091.8,5874285.0,6275655.2,6758605.7,7061876.3,7338427.6,7717658.4,...,10177464.5,10631511.2,10997927.0,11309307.3,11814798.4,12290166.3,12762930.6,13333393.5,13982899.0,14533254.0
1,"""00000""",United States,Goods,2003807.2,2105476.2,2283638.6,2449633.7,2521835.1,2594546.2,2717146.9,...,3309453.5,3508522.9,3628852.0,3722069.7,3855001.8,3915678.3,3991320.6,4165294.4,4361471.7,4500860.9
2,"""00000""",United States,Durable goods,715529.6,779293.4,855568.3,912571.8,941515.1,985368.1,1017800.6,...,1048962.5,1093498.8,1144221.0,1189413.3,1242075.5,1307605.2,1350222.4,1410678.3,1481551.7,1534351.3
3,"""00000""",United States,Motor vehicles and parts,293082.5,320204.7,350730.2,363227.6,383289.5,401346.5,401518.3,...,344466.2,365178.4,396607.9,417533.0,441992.0,475346.0,485553.6,503642.6,523226.5,521845.9
4,"""00000""",United States,Furnishings and durable household equipment,160490.2,173579.1,191184.9,208105.7,214940.1,225868.3,235161.0,...,240924.2,246861.8,253938.0,263589.7,276166.5,294219.7,309367.1,324744.9,343326.3,357440.3

In [7]:
#remove quotes from GeoGIPS
us_expenditures_df['GeoFIPS']=us_expenditures_df['GeoFIPS'].str.replace('"','')

<ipython-input-7-7f76a7a6adf9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_expenditures_df['GeoFIPS']=us_expenditures_df['GeoFIPS'].str.replace('"','')

In [9]:
#remove NAN rows
us_expend = us_expenditures_df[us_expenditures_df['GeoName'].notna()]
us_expend.head()

,GeoFIPS,GeoName,Description,1997,1998,1999,2000,2001,2002,2003,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,00000,United States,Personal consumption expenditures,5534091.8,5874285.0,6275655.2,6758605.7,7061876.3,7338427.6,7717658.4,...,10177464.5,10631511.2,10997927.0,11309307.3,11814798.4,12290166.3,12762930.6,13333393.5,13982899.0,14533254.0
1,00000,United States,Goods,2003807.2,2105476.2,2283638.6,2449633.7,2521835.1,2594546.2,2717146.9,...,3309453.5,3508522.9,3628852.0,3722069.7,3855001.8,3915678.3,3991320.6,4165294.4,4361471.7,4500860.9
2,00000,United States,Durable goods,715529.6,779293.4,855568.3,912571.8,941515.1,985368.1,1017800.6,...,1048962.5,1093498.8,1144221.0,1189413.3,1242075.5,1307605.2,1350222.4,1410678.3,1481551.7,1534351.3
3,00000,United States,Motor vehicles and parts,293082.5,320204.7,350730.2,363227.6,383289.5,401346.5,401518.3,...,344466.2,365178.4,396607.9,417533.0,441992.0,475346.0,485553.6,503642.6,523226.5,521845.9
4,00000,United States,Furnishings and durable household equipment,160490.2,173579.1,191184.9,208105.7,214940.1,225868.3,235161.0,...,240924.2,246861.8,253938.0,263589.7,276166.5,294219.7,309367.1,324744.9,343326.3,357440.3

In [10]:
# rename columns
us_expenditures_final = us_expend.rename(columns ={'GeoFIPS':'geofips', 'GeoName':'geoname','Description':'description','Year':'year','value':'dollars'})
us_expenditures_final.head()

,geofips,geoname,description,1997,1998,1999,2000,2001,2002,2003,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,00000,United States,Personal consumption expenditures,5534091.8,5874285.0,6275655.2,6758605.7,7061876.3,7338427.6,7717658.4,...,10177464.5,10631511.2,10997927.0,11309307.3,11814798.4,12290166.3,12762930.6,13333393.5,13982899.0,14533254.0
1,00000,United States,Goods,2003807.2,2105476.2,2283638.6,2449633.7,2521835.1,2594546.2,2717146.9,...,3309453.5,3508522.9,3628852.0,3722069.7,3855001.8,3915678.3,3991320.6,4165294.4,4361471.7,4500860.9
2,00000,United States,Durable goods,715529.6,779293.4,855568.3,912571.8,941515.1,985368.1,1017800.6,...,1048962.5,1093498.8,1144221.0,1189413.3,1242075.5,1307605.2,1350222.4,1410678.3,1481551.7,1534351.3
3,00000,United States,Motor vehicles and parts,293082.5,320204.7,350730.2,363227.6,383289.5,401346.5,401518.3,...,344466.2,365178.4,396607.9,417533.0,441992.0,475346.0,485553.6,503642.6,523226.5,521845.9
4,00000,United States,Furnishings and durable household equipment,160490.2,173579.1,191184.9,208105.7,214940.1,225868.3,235161.0,...,240924.2,246861.8,253938.0,263589.7,276166.5,294219.7,309367.1,324744.9,343326.3,357440.3

In [14]:
state_abbr.columns
#rename columns
state_df = state_abbr.rename(columns = {'State':'geoname', 'Code':'code'})
# keep only columns needed
state_df2 = state_df[['geoname', 'code']]
state_df2.head()

      geoname code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [16]:
# merge dataframes
us_spend_df = pd.merge(state_df2, us_expenditures_final, on="geoname")
us_spend_df

,geoname,code,geofips,description,1997,1998,1999,2000,2001,2002,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Alabama,AL,01000,Personal consumption expenditures,74340.3,77946.9,82570.0,87080.2,90325.4,94859.3,...,130833.8,135211.8,138773.3,141727.5,146511.7,150798.4,155347.6,161137.1,167799.1,174016.0
1,Alabama,AL,01000,Goods,30295.9,31317.4,33614.3,35138.8,36208.9,37908.0,...,49895.6,52313.0,53665.8,54457.4,55821.1,56416.5,56905.8,58854.1,61322.0,63334.5
2,Alabama,AL,01000,Durable goods,10102.1,10809.0,11692.1,11985.9,12271.1,13122.5,...,14402.9,14971.0,15582.3,16078.1,16609.6,17271.7,17924.2,18661.0,19541.7,20193.3
3,Alabama,AL,01000,Motor vehicles and parts,4891.9,5286.7,5775.5,5816.9,6048.1,6431.5,...,5681.6,6023.1,6451.6,6683.2,6906.4,7338.8,7481.8,7676.0,7998.6,8000.8
4,Alabama,AL,01000,Furnishings and durable household equipment,2221.4,2335.7,2480.5,2589.9,2599.0,2777.3,...,3141.5,3177.8,3252.4,3325.4,3449.3,3648.0,3889.4,4089.3,4313.8,4479.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,Wyoming,WY,56000,Financial services and insurance,766.2,887.6,1020.8,1203.9,1121.5,1099.7,...,1800.4,1970.5,2254.5,2488.5,2654.5,2752.5,2701.6,2725.7,2848.2,2863.3
1220,Wyoming,WY,56000,Other services,594.5,661.1,690.5,708.8,753.5,807.8,...,1233.9,1282.5,1276.4,1298.4,1325.8,1355.2,1368.8,1403.1,1433.1,1497.5
1221,Wyoming,WY,56000,Final consumption expenditures of nonprofit ...,100.0,162.0,188.0,204.0,227.0,252.0,...,368.6,396.6,431.1,457.9,468.9,538.3,581.0,603.2,596.1,588.8
1222,Wyoming,WY,56000,Gross output of nonprofit institutions,834.0,895.0,957.0,1006.0,1076.0,1167.0,...,1839.0,1918.5,1992.1,2057.0,2087.7,2275.8,2363.7,2462.5,2837.0,2920.4
1223,Wyoming,WY,56000,Less: Receipts from sales of goods and serv...,734.0,733.0,769.0,802.0,849.0,915.0,...,1470.4,1521.9,1561.0,1599.1,1618.8,1737.5,1782.7,1859.3,2241.0,2331.6

In [17]:
# Import Postgress credentials from config.py
from config import username
from config import password

In [18]:
url = f'postgresql://{username}:{password}@localhost:5432/project2'

# Create an engine object.
engine = create_engine(url, echo=True)

# Create database if it does not exist.
if not database_exists(engine.url):
    create_database(engine.url)
    connection = engine.connect()
else:
    # Connect the database if exists.
    connection = engine.connect()

2021-10-27 20:18:35,711 INFO sqlalchemy.engine.Engine select version()
2021-10-27 20:18:35,712 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-10-27 20:18:35,713 INFO sqlalchemy.engine.Engine select current_schema()
2021-10-27 20:18:35,714 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-10-27 20:18:35,716 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-10-27 20:18:35,717 INFO sqlalchemy.engine.Engine [raw sql] {}

In [71]:
#connection = engine.connect()
#engine = create_engine('sqlite:///DataFiles/us_spend.sqlite', echo=False)

In [19]:
# save the data into sqlite
us_spend_df.to_sql('us_spend_df2', con=engine, if_exists='replace')

2021-10-27 20:18:51,459 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-27 20:18:51,460 INFO sqlalchemy.engine.Engine [generated in 0.00073s] {'name': 'us_spend_df2'}
2021-10-27 20:18:51,467 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-27 20:18:51,471 INFO sqlalchemy.engine.Engine
CREATE TABLE us_spend_df2 (
	index BIGINT,
	geoname TEXT,
	code TEXT,
	geofips TEXT,
	description TEXT,
	"1997" FLOAT(53),
	"1998" FLOAT(53),
	"1999" FLOAT(53),
	"2000" FLOAT(53),
	"2001" FLOAT(53),
	"2002" FLOAT(53),
	"2003" FLOAT(53),
	"2004" FLOAT(53),
	"2005" FLOAT(53),
	"2006" FLOAT(53),
	"2007" FLOAT(53),
	"2008" FLOAT(53),
	"2009" FLOAT(53),
	"2010" FLOAT(53),
	"2011" FLOAT(53),
	"2012" FLOAT(53),
	"2013" FLOAT(53),
	"2014" FLOAT(53),
	"2015" FLOAT(53),
	"2016" FLOAT(53),
	"2017" FLOAT(53),
	"2018" FLOAT(53),
	"2019" FLOAT(53)
)


2021-10-27 20:18:51,472 INFO sqlalchemy.engine.Engine [no key 0.00133s] {}
2021-10-27 20:18:51,497 INFO sqlalchemy.engine.Engine CREATE INDEX ix_us_spend_df2_index ON us_spend_df2 (index)
2021-10-27 20:18:51,498 INFO sqlalchemy.engine.Engine [no key 0.00071s] {}
2021-10-27 20:18:51,510 INFO sqlalchemy.engine.Engine COMMIT
2021-10-27 20:18:51,522 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-27 20:18:51,562 INFO sqlalchemy.engine.Engine INSERT INTO us_spend_df2 (index, geoname, code, geofips, description, "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019") VALUES (%(index)s, %(geoname)s, %(code)s, %(geofips)s, %(description)s, %(1997)s, %(1998)s, %(1999)s, %(2000)s, %(2001)s, %(2002)s, %(2003)s, %(2004)s, %(2005)s, %(2006)s, %(2007)s, %(2008)s, %(2009)s, %(2010)s, %(2011)s, %(2012)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s, %(2019)s)
2021-10-27 20:18:51,563 INFO sqlalchemy.engine.Engine [generated in 0.03302s] ({'index': 0, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': 'Personal consumption expenditures', '1997': 74340.3, '1998': 77946.9, '1999': 82570.0, '2000': 87080.2, '2001': 90325.4, '2002': 94859.3, '2003': 99368.5, '2004': 105420.7, '2005': 113258.8, '2006': 118931.8, '2007': 124176.3, '2008': 127649.7, '2009': 126501.6, '2010': 130833.8, '2011': 135211.8, '2012': 138773.3, '2013': 141727.5, '2014': 146511.7, '2015': 150798.4, '2016': 155347.6, '2017': 161137.1, '2018': 167799.1, '2019': 174016.0}, {'index': 1, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': ' Goods', '1997': 30295.9, '1998': 31317.4, '1999': 33614.3, '2000': 35138.8, '2001': 36208.9, '2002': 37908.0, '2003': 39810.3, '2004': 42646.8, '2005': 45713.1, '2006': 47997.3, '2007': 50167.5, '2008': 50169.6, '2009': 47924.8, '2010': 49895.6, '2011': 52313.0, '2012': 53665.8, '2013': 54457.4, '2014': 55821.1, '2015': 56416.5, '2016': 56905.8, '2017': 58854.1, '2018': 61322.0, '2019': 63334.5}, {'index': 2, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '  Durable goods', '1997': 10102.1, '1998': 10809.0, '1999': 11692.1, '2000': 11985.9, '2001': 12271.1, '2002': 13122.5, '2003': 13539.1, '2004': 14390.0, '2005': 15146.5, '2006': 15615.9, '2007': 16439.7, '2008': 14953.6, '2009': 13887.7, '2010': 14402.9, '2011': 14971.0, '2012': 15582.3, '2013': 16078.1, '2014': 16609.6, '2015': 17271.7, '2016': 17924.2, '2017': 18661.0, '2018': 19541.7, '2019': 20193.3}, {'index': 3, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '   Motor vehicles and parts', '1997': 4891.9, '1998': 5286.7, '1999': 5775.5, '2000': 5816.9, '2001': 6048.1, '2002': 6431.5, '2003': 6451.4, '2004': 6590.0, '2005': 6726.7, '2006': 6670.1, '2007': 6739.3, '2008': 5679.5, '2009': 5154.2, '2010': 5681.6, '2011': 6023.1, '2012': 6451.6, '2013': 6683.2, '2014': 6906.4, '2015': 7338.8, '2016': 7481.8, '2017': 7676.0, '2018': 7998.6, '2019': 8000.8}, {'index': 4, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '   Furnishings and durable household equipment', '1997': 2221.4, '1998': 2335.7, '1999': 2480.5, '2000': 2589.9, '2001': 2599.0, '2002': 2777.3, '2003': 2893.0, '2004': 3139.1, '2005': 3425.8, '2006': 3624.7, '2007': 3720.7, '2008': 3442.9, '2009': 3151.7, '2010': 3141.5, '2011': 3177.8, '2012': 3252.4, '2013': 3325.4, '2014': 3449.3, '2015': 3648.0, '2016': 3889.4, '2017': 4089.3, '2018': 4313.8, '2019': 4479.4}, {'index': 5, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '   Recreational goods and vehicles', '1997': 1907.8, '1998': 2013.6, '1999': 2144.5, '2000': 2222.5, '2001': 2274.7, '2002': 2458.1, '2003': 2707.9, '2004': 3057.3, '2005': 3296.3, '2006': 3489.1, '2007': 3969.7, '2008': 3842.7, '2009': 3603.5, '2010': 3520.0, '2011': 3590.7, '2012': 3663.7, '2013': 3791.3, '2014': 3879.0, '2015': 3854.0, '2016': 4120.4, '2017': 4460.6, '2018': 4730.7, '2019': 5158.1}, {'index': 6, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '   Other durable goods', '1997': 1081.0, '1998': 1172.9, '1999': 1291.6, '2000': 1356.5, '2001': 1349.3, '2002': 1455.6, '2003': 1486.9, '2004': 1603.6, '2005': 1697.8, '2006': 1831.9, '2007': 2010.0, '2008': 1988.6, '2009': 1978.3, '2010': 2059.7, '2011': 2179.4, '2012': 2214.7, '2013': 2278.2, '2014': 2374.9, '2015': 2430.9, '2016': 2432.6, '2017': 2435.1, '2018': 2498.7, '2019': 2555.0}, {'index': 7, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '  Nondurable goods', '1997': 20193.8, '1998': 20508.5, '1999': 21922.2, '2000': 23152.9, '2001': 23937.8, '2002': 24785.5, '2003': 26271.1, '2004': 28256.8, '2005': 30566.5, '2006': 32381.4, '2007': 33727.8, '2008': 35216.0, '2009': 34037.2, '2010': 35492.7, '2011': 37342.0, '2012': 38083.5, '2013': 38379.3, '2014': 39211.4, '2015': 39144.7, '2016': 38981.6, '2017': 40193.1, '2018': 41780.3, '2019': 43141.2}  ... displaying 10 of 1224 total bound parameter sets ...  {'index': 1222, 'geoname': 'Wyoming', 'code': 'WY', 'geofips': ' 56000', 'description': '   Gross output of nonprofit institutions', '1997': 834.0, '1998': 895.0, '1999': 957.0, '2000': 1006.0, '2001': 1076.0, '2002': 1167.0, '2003': 1211.0, '2004': 1256.0, '2005': 1341.0, '2006': 1384.0, '2007': 1538.0, '2008': 1653.2, '2009': 1768.6, '2010': 1839.0, '2011': 1918.5, '2012': 1992.1, '2013': 2057.0, '2014': 2087.7, '2015': 2275.8, '2016': 2363.7, '2017': 2462.5, '2018': 2837.0, '2019': 2920.4}, {'index': 1223, 'geoname': 'Wyoming', 'code': 'WY', 'geofips': ' 56000', 'description': '   Less: Receipts from sales of goods and services by nonprofit institutions', '1997': 734.0, '1998': 733.0, '1999': 769.0, '2000': 802.0, '2001': 849.0, '2002': 915.0, '2003': 876.0, '2004': 933.0, '2005': 1082.0, '2006': 1109.0, '2007': 1250.0, '2008': 1312.2, '2009': 1399.5, '2010': 1470.4, '2011': 1521.9, '2012': 1561.0, '2013': 1599.1, '2014': 1618.8, '2015': 1737.5, '2016': 1782.7, '2017': 1859.3, '2018': 2241.0, '2019': 2331.6})
2021-10-27 20:18:51,777 INFO sqlalchemy.engine.Engine COMMIT

In [20]:
engine.execute("SELECT count(*) from us_spend_df2").fetchall()

2021-10-27 20:19:01,367 INFO sqlalchemy.engine.Engine SELECT count(*) from us_spend_df2
2021-10-27 20:19:01,369 INFO sqlalchemy.engine.Engine [raw sql] {}

[(1224,)]